.edit-akun-section {
    margin-top: 100px;
    height: 700px;
}

.edit-akun-form {
    margin-top: 50px;
}

.form-footer {
    display: flex;
}

.form-footer-button {
    display: flex;
    justify-content: end;
}