.profil-section {
    margin-top: 50px;
    height: 700px;
    margin-bottom: 150px;
}

.edit-akun, .edit-akun p {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

