.link-pilihan {
    margin: 20px 10px 20px 10px;
}

.about-platform img {
    margin-top: -50px;
}

.about-platform {
    margin-top: 100px;
    margin-bottom: 150px;
}

.about-title {
    color: #00B214;
    opacity: 0.63;
}