.login-page {
    width: 500px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.btn-login {
    display: flex;
}

.btn-login button {
    margin-left: 8px;
    height: 50px;
}

.dropdown-item:active {
    background-color: #BFEEC5;
}

.garis-atau {
    display: flex;
    justify-content: space-around;
}
