.header {
    position: fixed;
    height: 100px;
    width: 100%; 
    background-color: #FFF;
    z-index: 999;
    top: 0;
}

.button{
    margin-top: 5px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
}
.img_nav{
    margin-bottom: 40px;
}

.text_nav{
    font-size: 16px;
    font-weight: Bold;
}
