.main-footer {
    padding-top: 50px;
    background-color: #EFF0F2;
}

.footer-bottom {
    margin-top: 100px;
    border-top: 2px solid #00AA13;
    display: flex;
    justify-content: space-between;
}

 a {
    text-decoration: none;
    color: #484848;
}