.ulasan img {
    position: relative;
}

.ulasan button {
    
    width: 300px;
    z-index: 10;
    cursor: pointer;
    top: 440%;
    left: 20%;
    background-color: #00AA13;
    font-size: 20px;
    border-radius: 20px;
}