.Container_Card{
    padding: 7px;
    margin: auto;

}
.card__img{
    justify-content: center;
}

 .right {
    margin-top: -10px;
    margin-left: 180px;
    background-color: transparent;
    border: none;
 }

.cerita-thumb .card {
    border: none;
}

.cerita-thumb .card-footer button {
    background-color: #00AA13;
}

.card-img-overlay {
    height: 50px;
}

.card-body {
    height: 100px;
}

.card-footer {
    background-color: #BFEEC5;
}

.card img {
    border-radius: 8px;
}