.header {
    /* position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; */
    background-color: #FF7396;
    /* overflow: hidden; */
}

.button{
    margin-top: 5px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
}
.img_nav{
    margin-bottom: 40px;
}

.text_nav{
    font-size: 16px;
    font-weight: Bold;
}
