.header {
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
}
.header-bg {
    background-color: rgb(196, 248, 248);
}
.button{
    margin-top: 15px;
    height: 35px;
    border: 2px solid black;
    justify-content: center;
    border-radius: 20px;
}
.img_nav{
    margin-bottom: 40px;
}

.text_nav{
    font-size: 16px;
    font-weight: Bold;
    justify-content: center;

}
.logo{
    margin-top: 20px;
}
