.newsletter {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4E06D;
}

.rounded {
    border-radius: 50% !important;
    height: 40px;
    margin-top: -5px;
    margin-left: -40px;
}

.newsletter-form input {
    width: 500px;
    height: 40px;
    padding-left: 10px;
    border-radius: 20px;
    font-size: 18px;
}