.profil {
    padding-top: 50px;
    background-color: #efefef;
    padding-bottom: 50px;
    border-radius: 10px;
}


.img-avatar{
    margin-left: 70px;
}

.tentang-saya {
    margin-top: 50px;
}


.terhubung {
    margin-top: 50px;
}